# Dependencies
node_modules/

# Local env files (Secret keys)
.env
.env.local
.env.*.local

# Build and testing outputs
dist/
build/
coverage/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
